appdirs==1.4.4
attrs==26.1.0
babel==2.18.0
bibtexparser==2.0.0b9
bs4==0.0.2
certifi==2026.7.22
cldfbench==1.14.3
cldfcatalog==1.7.0
cldfzenodo==2.2.2
clldutils==3.24.4
colorlog==6.12.0
csvw==3.7.0
exceptiongroup==1.3.1
gitdb==4.0.12
greenlet==3.5.5
idna==3.18
iniconfig==2.3.0
isodate==0.7.2
jsonschema==4.26.0
lingpy==2.6.14
lxml==6.1.1
Markdown==3.10.3
nameparser==1.4.0
networkx==3.4.2
newick==1.11.0
numpy==2.2.6
openpyxl==3.1.5
packaging==26.3
platformdirs==4.11.2
pluggy==1.6.0
pybtex==0.26.1
pycldf==1.43.1
pyclts==3.2.0
pyconcepticon==3.1.0
pycountry==26.2.16
pyglottolog==3.16.0
Pygments==2.20.0
pylatexenc==2.11
pylexibank==3.5.0
pytest==9.1.1
python-dateutil==2.9.0.post0
rdflib==7.6.0
referencing==0.37.0
regex==2026.7.19
requests==2.34.2
rfc3986==1.5.0
segments==2.4.0
simplepybtex==0.1.0
six==1.17.0
smmap==5.0.3
soupsieve==2.9.2
SQLAlchemy==1.4.54
tabulate==0.10.0
termcolor==3.3.0
tqdm==4.70.0
typing_extensions==4.16.0
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.7.0
xlrd==2.0.2
zenodoclient==0.5.1